node_modules/
/dist/
/dist_keycloak/
/public/keycloakify-dev-resources/
/.vscode/
/.yarn_home/
/.yarnrc
/.yarnrc.yml
pnpm*.yaml
.pnpm*
package*.json
/CHANGELOG.md
/.yarn_home/
/src/test/apps/
/src/tools/types/
/.vscode/
/src/login/i18n/messages_defaultSet/
/src/account/i18n/messages_defaultSet/
/dist_test
/sample_react_project/
/sample_custom_react_project/
/keycloakify_starter_test/
/.storybook/static/keycloak-resources/
/src/bin/start-keycloak/*.json
